.btn-google {
  color: #fff;
  background-color: #dd4b39;
  border-color: #c53727;
}
.btn-twitter {
  color: #fff;
  background-color: #2daddc;
  border-color: #0271bf;
}
.btn-github {
  color: #fff;
  background-color: #fafafa;
  border-color: #ccc;
}
