<a ng-class="classes" ng-click="OauthButtons.loginOauth('google')" class="btn btn-google">
  <i class="fa fa-google-plus"></i>
  Connect with Google+
</a>
<a ng-class="classes" ng-click="OauthButtons.loginOauth('twitter')" class="btn btn-twitter">
  <i class="fa fa-twitter"></i>
  Connect with Twitter
</a>
